In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 
import seaborn as sns

In [26]:
# Reading and Writing Data:
amzn = pd.read_csv('/home/developer/Downloads/AMZN.csv')
ipl = pd.read_csv('/home/developer/Desktop/ipl-matches.csv')

In [3]:
amzn

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000
1,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000
2,1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000
3,1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000
4,1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000
...,...,...,...,...,...,...,...
6511,2023-03-30,101.550003,103.040001,101.010002,102.000000,102.000000,53633400
6512,2023-03-31,102.160004,103.489998,101.949997,103.290001,103.290001,56704300
6513,2023-04-03,102.300003,103.290001,101.430000,102.410004,102.410004,41135700
6514,2023-04-04,102.750000,104.199997,102.110001,103.949997,103.949997,48662500
6515,2023-04-05,103.910004,103.910004,100.750000,101.099998,101.099998,45103000

In [6]:
amzn.to_excel('amzn.xlsx')

In [7]:
pd.read_excel('amzn.xlsx')

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume
0,0,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000
1,1,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000
2,2,1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000
3,3,1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000
4,4,1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000
...,...,...,...,...,...,...,...,...
6511,6511,2023-03-30,101.550003,103.040001,101.010002,102.000000,102.000000,53633400
6512,6512,2023-03-31,102.160004,103.489998,101.949997,103.290001,103.290001,56704300
6513,6513,2023-04-03,102.300003,103.290001,101.430000,102.410004,102.410004,41135700
6514,6514,2023-04-04,102.750000,104.199997,102.110001,103.949997,103.949997,48662500
6515,6515,2023-04-05,103.910004,103.910004,100.750000,101.099998,101.099998,45103000

In [8]:
data = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

In [9]:
df

   ID     Name  Age         City
0   1    Alice   25     New York
1   2      Bob   30  Los Angeles
2   3  Charlie   35      Chicago

In [10]:
df.to_csv('employees.csv')

In [11]:
df

   ID     Name  Age         City
0   1    Alice   25     New York
1   2      Bob   30  Los Angeles
2   3  Charlie   35      Chicago

In [12]:
# Indexing and Selecting Data:

In [14]:
# Selection by label (loc)
# loc
amzn.loc[0, 'High']

0.125

In [16]:
# loc with sclicing
amzn.loc[0:4, 'High']

0    0.125000
1    0.098958
2    0.088542
3    0.087500
4    0.082292
Name: High, dtype: float64

In [17]:
# loc with multiindexing
amzn.loc[[0, 4, 7], 'High']

0    0.125000
4    0.082292
7    0.082292
Name: High, dtype: float64

In [18]:
# iloc
amzn.iloc[0]

Date         1997-05-15
Open           0.121875
High              0.125
Low            0.096354
Close          0.097917
Adj Close      0.097917
Volume       1443120000
Name: 0, dtype: object

In [19]:
# iloc with sclicing
amzn.iloc[0:5]

         Date      Open      High       Low     Close  Adj Close      Volume
0  1997-05-15  0.121875  0.125000  0.096354  0.097917   0.097917  1443120000
1  1997-05-16  0.098438  0.098958  0.085417  0.086458   0.086458   294000000
2  1997-05-19  0.088021  0.088542  0.081250  0.085417   0.085417   122136000
3  1997-05-20  0.086458  0.087500  0.081771  0.081771   0.081771   109344000
4  1997-05-21  0.081771  0.082292  0.068750  0.071354   0.071354   377064000

In [20]:
# iloc with multiindexing
amzn.iloc[[0, 8, 11]]

          Date      Open      High       Low     Close  Adj Close      Volume
0   1997-05-15  0.121875  0.125000  0.096354  0.097917   0.097917  1443120000
8   1997-05-28  0.081250  0.081771  0.076563  0.076563   0.076563    91488000
11  1997-06-02  0.075521  0.076563  0.075000  0.075521   0.075521    11832000

In [22]:
# Boolean indexing
mask = amzn['High'] > 0.088542
mask

0        True
1        True
2       False
3       False
4       False
        ...
6511     True
6512     True
6513     True
6514     True
6515     True
Name: High, Length: 6516, dtype: bool

In [24]:
# apply mask to the dataframe
amzn[mask]

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000
1,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000
34,1997-07-03,0.079948,0.095833,0.079688,0.095573,0.095573,251544000
35,1997-07-07,0.091667,0.101042,0.091667,0.100000,0.100000,161064000
36,1997-07-08,0.102083,0.116667,0.102083,0.115104,0.115104,310344000
...,...,...,...,...,...,...,...
6511,2023-03-30,101.550003,103.040001,101.010002,102.000000,102.000000,53633400
6512,2023-03-31,102.160004,103.489998,101.949997,103.290001,103.290001,56704300
6513,2023-04-03,102.300003,103.290001,101.430000,102.410004,102.410004,41135700
6514,2023-04-04,102.750000,104.199997,102.110001,103.949997,103.949997,48662500
6515,2023-04-05,103.910004,103.910004,100.750000,101.099998,101.099998,45103000

In [25]:
# Data Manipulation:
# Filtering, sorting, and adding/deleting columns
# Handling missing data (fillna, dropna, etc.)
# Replacing values (replace)

In [ ]:
# Filtering, sorting, and adding/deleting columns

In [29]:
# Filtering
ipl_2019 = ipl[ipl['Season'] == '2019']
ipl_2019

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
194,1181768,Hyderabad,2019-05-12,2019,Final,Mumbai Indians,Chennai Super Kings,Rajiv Gandhi International Stadium,Mumbai Indians,bat,N,Mumbai Indians,Runs,1.0,NaN,JJ Bumrah,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'Ishan ...","['F du Plessis', 'SR Watson', 'SK Raina', 'AT ...",IJ Gould,Nitin Menon
195,1181767,Visakhapatnam,2019-05-10,2019,Qualifier,Delhi Capitals,Chennai Super Kings,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,6.0,NaN,F du Plessis,"['PP Shaw', 'S Dhawan', 'C Munro', 'SS Iyer', ...","['F du Plessis', 'SR Watson', 'SK Raina', 'AT ...",BNJ Oxenford,S Ravi
196,1181766,Visakhapatnam,2019-05-08,2019,Eliminator,Sunrisers Hyderabad,Delhi Capitals,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Delhi Capitals,field,N,Delhi Capitals,Wickets,2.0,NaN,RR Pant,"['WP Saha', 'MJ Guptill', 'MK Pandey', 'KS Wil...","['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",BNJ Oxenford,S Ravi
197,1181764,Chennai,2019-05-07,2019,Qualifier,Chennai Super Kings,Mumbai Indians,MA Chidambaram Stadium,Chennai Super Kings,bat,N,Mumbai Indians,Wickets,6.0,NaN,SA Yadav,"['F du Plessis', 'SR Watson', 'SK Raina', 'M V...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...",NJ Llong,Nitin Menon
198,1178430,Chandigarh,2019-05-05,2019,55,Chennai Super Kings,Kings XI Punjab,Punjab Cricket Association IS Bindra Stadium,Kings XI Punjab,field,N,Kings XI Punjab,Wickets,6.0,NaN,KL Rahul,"['F du Plessis', 'SR Watson', 'SK Raina', 'MS ...","['KL Rahul', 'CH Gayle', 'N Pooran', 'MA Agarw...",C Shamshuddin,KN Ananthapadmanabhan
199,1178431,Mumbai,2019-05-05,2019,56,Kolkata Knight Riders,Mumbai Indians,Wankhede Stadium,Mumbai Indians,field,N,Mumbai Indians,Wickets,9.0,NaN,HH Pandya,"['Shubman Gill', 'CA Lynn', 'RV Uthappa', 'KD ...","['Q de Kock', 'RG Sharma', 'SA Yadav', 'Ishan ...",A Nand Kishore,CK Nandan
200,1178429,Bengaluru,2019-05-04,2019,54,Sunrisers Hyderabad,Royal Challengers Bangalore,M.Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,4.0,NaN,SO Hetmyer,"['WP Saha', 'MJ Guptill', 'MK Pandey', 'KS Wil...","['PA Patel', 'V Kohli', 'AB de Villiers', 'SO ...",AK Chaudhary,NJ Llong
201,1178428,Delhi,2019-05-04,2019,53,Rajasthan Royals,Delhi Capitals,Arun Jaitley Stadium,Rajasthan Royals,bat,N,Delhi Capitals,Wickets,5.0,NaN,A Mishra,"['AM Rahane', 'LS Livingstone', 'SV Samson', '...","['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",AY Dandekar,IJ Gould
202,1178427,Chandigarh,2019-05-03,2019,52,Kings XI Punjab,Kolkata Knight Riders,Punjab Cricket Association IS Bindra Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,7.0,NaN,Shubman Gill,"['CH Gayle', 'KL Rahul', 'MA Agarwal', 'N Poor...","['Shubman Gill', 'CA Lynn', 'RV Uthappa', 'AD ...",BNJ Oxenford,C Shamshuddin
203,1178426,Mumbai,2019-05-02,2019,51,Mumbai Indians,Sunrisers Hyderabad,Wankhede Stadium,Mumbai Indians,bat,Y,Mumbai Indians,SuperOver,NaN,NaN,JJ Bumrah,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'E Lewi...","['WP Saha', 'MJ Guptill', 'MK Pandey', 'KS Wil...",CK Nandan,S Ravi
204,1178425,Chennai,2019-05-01,2019,50,Chennai Super Kings,Delhi Capitals,MA Chidambaram Stadium,Delhi Capitals,field,N,Chennai Super Kings,Runs,80.0,NaN,MS Dhoni,"['F du Plessis', 'SR Watson', 'SK Raina', 'MS ...","['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",AY Dandekar,Nitin Menon
205,1178424,Bengaluru,2019-04-30,2019,49,Royal Challengers Bangalore,Rajasthan Royals,M.Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"['V Kohli', 'AB de Villiers', 'MP Stoinis', 'H...","['SV Samson', 'LS Livingstone', 'AM Rahane', '...",NJ Llong,UV Gandhe
206,1178423,Hyderabad,2019-04-29,2019,48,Sunrisers Hyderabad,Kings XI Punjab,Rajiv Gandhi International Stadium,Kings XI Punjab,field,N,Sunrisers Hyderabad,Runs,45.0,NaN,DA Warner,"['DA Warner', 'WP Saha', 'MK Pandey', 'Mohamma...","['KL Rahul', 'CH Gayle', 'MA Agarwal', 'N Poor...",CK Nandan,S Ravi
207,1178422,Kolkata,2019-04-28,2019,47,Kolkata Knight Riders,Mumbai Indians,Eden Gardens,Mumbai Indians,field,N,Kolkata Knight Riders,Runs,34.0,NaN,AD Russell,"['Shubman Gill', 'CA Lynn', 'AD Russell', 'KD ...","['Q de Kock', 'RG Sharma', 'E Lewis', 'SA Yada...",IJ Gould,Nitin Menon
208,1178421,Delhi,2019-04-28,2019,46,Delhi Capitals,Royal Challengers Bangalore,Arun Jaitley Stadium,Delhi Capitals,bat,N,Delhi Capitals,Runs,16.0,NaN,S Dhawan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['PA Patel', 'V Kohli', 'AB de Villiers', 'S D...",BNJ Oxenford,KN Ananthapadmanabhan
209,1178420,Jaipur,2019-04-27,2019,45,Sunrisers Hyderabad,Rajasthan Royals,Sawai Mansingh Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JD Unadkat,"['DA Warner', 'KS Williamson', 'MK Pandey', 'V...","['AM Rahane', 'LS Livingstone', 'SV Samson', '...",A Nand Kishore,YC Barde
210,1178419,Chennai,2019-04-26,2019,44,Mumbai Indians,Chennai Super Kings,MA Chidambaram Stadium,Chennai Super Kings,field,N,Mumbai Indians,Runs,46.0,NaN,RG Sharma,"['RG Sharma', 'Q de Kock', 'E Lewis', 'KH Pand...","['M Vijay', 'SR Watson', 'SK Raina', 'AT Rayud...",AK Chaudhary,NJ Llong
211,1178418,Kolkata,2019-04-25,2019,43,Kolkata Knight Riders,Rajasthan Royals,Eden Gardens,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,3.0,NaN,VR Aaron,"['CA Lynn', 'Shubman Gill', 'N Rana', 'KD Kart...","['AM Rahane', 'SV Samson', 'SPD Smith', 'BA St...",AY Dandekar,IJ Gould
212,1178417,Bengaluru,2019-04-24,2019,42,Royal Challengers Bangalore,Kings XI Punjab,M.Chinnaswamy Stadium,Kings XI Punjab,field,N,Royal Challengers Bangalore,Runs,17.0,NaN,AB de Villiers,"['PA Patel', 'V Kohli', 'AB de Villiers', 'MM ...","['KL Rahul', 'CH Gayle', 'MA Agarwal', 'DA Mil...",BNJ Oxenford,C Shamshuddin
213,1178416,Chennai,2019-04-23,2019,41,Sunrisers Hyderabad,Chennai Super Kings,MA Chidambaram Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,6.0,NaN,SR Watson,"['DA Warner', 'JM Bairstow', 'MK Pandey', 'V S...","['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...",AK Chaudhary,NJ Llong
214,1178415,Jaipur,2019-04-22,2019,40,Rajasthan Royals,Delhi Capitals,Sawai Mansingh Stadium,Delhi Capitals,field,N,Delhi Capitals,Wickets,6.0,NaN,RR Pant,"['AM Rahane', 'SV Samson', 'SPD Smith', 'BA St...","['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",A Nand Kishore,S Ravi
215,1178413,Hyderabad,2019-04-21,2019,38,Kolkata Knight Riders,Sunrisers Hyderabad,Rajiv Gandhi International Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,9.0,NaN,KK Ahmed,"['CA Lynn', 'SP Narine', 'Shubman Gill', 'N Ra...","['DA Warner', 'JM Bairstow', 'KS Williamson', ...",NJ Llong,Nitin Menon
216,1178414,Bengaluru,2019-04-21,2019,39,Royal Challengers Bangalore,Chennai Super Kings,M.Chinnaswamy Stadium,Chennai Super Kings,field,N,Royal Challengers Bangalore,Runs,1.0,NaN,PA Patel,"['PA Patel', 'V Kohli', 'AB de Villiers', 'AD ...","['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...",RJ Tucker,VA Kulkarni
217,1178412,Delhi,2019-04-20,2019,37,Kings XI Punjab,Delhi Capitals,Arun Jaitley Stadium,Delhi Capitals,field,N,Delhi Capitals,Wickets,5.0,NaN,SS Iyer,"['KL Rahul', 'CH Gayle', 'MA Agarwal', 'DA Mil...","['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",C Shamshuddin,UV Gandhe
218,1178411,Jaipur,2019-04-20,2019,36,Mumbai Indians,Rajasthan Royals,Sawai Mansingh Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,5.0,NaN,SPD Smith,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'HH Pan...","['AM Rahane', 'SV Samson', 'SPD Smith', 'BA St...",S Ravi,YC Barde
219,1178410,Kolkata,2019-04-19,2019,35,Royal Challengers Bangalore,Kolkata Knight Riders,Eden Gardens,Kolkata Knight Riders,field,N,Royal Challengers Bangalore,Runs,10.0,NaN,V Kohli,"['PA Patel', 'V Kohli', 'AD Nath', 'MM Ali', '...","['CA Lynn', 'SP Narine', 'Shubman Gill', 'RV U...",IJ Gould,Nitin Menon
220,1178409,Delhi,2019-04-18,2019,34,Mumbai Indians,Delhi Capitals,Arun Jaitley Stadium,Mumbai Indians,bat,N,Mumbai Indians,Runs,40.0,NaN,HH Pandya,"['RG Sharma', 'Q de Kock', 'BCJ Cutting', 'SA ...","['PP Shaw', 'S Dhawan', 'C Munro', 'SS Iyer', ...",BNJ Oxenford,NJ Llong
221,1178408,Hyderabad,2019-04-17,2019,33,Chennai Super Kings,Sunrisers Hyderabad,Rajiv Gandhi International Stadium,Chennai Super Kings,bat,N,Sunrisers Hyderabad,Wickets,6.0,NaN,DA Warner,"['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...","['DA Warner', 'JM Bairstow', 'KS Williamson', ...",IJ Gould,UV Gandhe
222,1178407,Chandigarh,2019-04-16,2019,32,Kings XI Punjab,Rajasthan Royals,Punjab Cricket Association IS Bindra Stadium,Rajasthan Royals,field,N,Kings XI Punjab,Runs,12.0,NaN,R Ashwin,"['KL Rahul', 'CH Gayle', 'MA Agarwal', 'DA Mil...","['RA Tripathi', 'JC Buttler', 'SV Samson', 'AM...",AK Chaudhary,VA Kulkarni
223,1178406,Mumbai,2019-04-15,2019,31,Royal Challengers Bangalore,Mumbai Indians,Wankhede Stadium,Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,SL Malinga,"['PA Patel', 'V Kohli', 'AB de Villiers', 'MM ...","['Q de Kock', 'RG Sharma', 'SA Yadav', 'Ishan ...",M Erasmus,Nitin Menon
224,1178404,Kolkata,2019-04-14,2019,29,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,5.0,NaN,Imran Tahir,"['CA Lynn', 'SP Narine', 'N Rana', 'RV Uthappa...","['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...",CK Nandan,RJ Tucker
225,1178405,Hyderabad,2019-04-14,2019,30,Delhi Capitals,Sunrisers Hyderabad,Rajiv Gandhi International Stadium,Sunrisers Hyderabad,field,N,Delhi Capitals,Runs,39.0,NaN,KMA Paul,"['PP Shaw', 'S Dhawan', 'C Munro', 'SS Iyer', ...","['DA Warner', 'JM Bairstow', 'KS Williamson', ...",AK Chaudhary,BNJ Oxenford
226,1178402,Mumbai,2019-04-13,2019,27,Mumbai Indians,Rajasthan Royals,Wankhede Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,4.0,NaN,JC Buttler,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'KA Pol...","['AM Rahane', 'JC Buttler', 'SV Samson', 'SPD ...",A Nand Kishore,Nitin Menon
227,1178403,Chandigarh,2019-04-13,2019,28,Kings XI Punjab,Royal Challengers Bangalore,Punjab Cricket Association IS Bindra Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,8.0,NaN,AB de Villiers,"['KL Rahul', 'CH Gayle', 'MA Agarwal', 'SN Kha...","['PA Patel', 'V Kohli', 'AB de Villiers', 'MP ...",S Ravi,UV Gandhe
228,1178401,Kolkata,2019-04-12,2019,26,Kolkata Knight Riders,Delhi Capitals,Eden Gardens,Delhi Capitals,field,N,Delhi Capitals,Wickets,7.0,NaN,S Dhawan,"['JL Denly', 'Shubman Gill', 'RV Uthappa', 'N ...","['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",CK Nandan,YC Barde
229,1178400,Jaipur,2019-04-11,2019,25,Rajasthan Royals,Chennai Super Kings,Sawai Mansingh Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,4.0,NaN,MS Dhoni,"['AM Rahane', 'JC Buttler', 'SV Samson', 'SPD ...","['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...",BNJ Oxenford,UV Gandhe
230,1178399,Mumbai,2019-04-10,2019,24,Kings XI Punjab,Mumbai Indians,Wankhede Stadium,Mumbai Indians,field,N,Mumbai Indians,Wickets,3.0,NaN,KA Pollard,"['KL Rahul', 'CH Gayle', 'DA Miller', 'KK Nair...","['Q de Kock', 'SD Lad', 'SA Yadav', 'KA Pollar...",S Ravi,YC Barde
231,1178398,Chennai,2019-04-09,2019,23,Kolkata Knight Riders,Chennai Super Kings,MA Chidambaram Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,7.0,NaN,DL Chahar,"['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana...","['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...",C Shamshuddin,RJ Tucker
232,1178397,Chandigarh,2019-04-08,2019,22,Sunrisers Hyderabad,Kings XI Punjab,Punjab Cricket Association IS Bindra Stadium,Kings XI Punjab,field,N,Kings XI Punjab,Wickets,6.0,NaN,KL Rahul,"['DA Warner', 'JM Bairstow', 'V Shankar', 'Moh...","['KL Rahul', 'CH Gayle', 'MA Agarwal', 'DA Mil...",AY Dandekar,M Erasmus
233,1178396,Jaipur,2019-04-07,2019,21,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,8.0,NaN,HF Gurney,"['AM Rahane', 'JC Buttler', 'SPD Smith', 'RA T...","['CA Lynn', 'SP Narine', 'RV Uthappa', 'Shubma...",AK Chaudhary,CB Gaffaney
234,1178395,Bengaluru,2019-04-07,2019,20,Royal Challengers Bangalore,Delhi Capitals,M.Chinnaswamy Stadium,Delhi Capitals,field,N,Delhi Capitals,Wickets,4.0,NaN,K Rabada,"['PA Patel', 'V Kohli', 'AB de Villiers', 'MP ...","['PP Shaw', 'S Dhawan', 'SS Iyer', 'CA Ingram'...",S Ravi,YC Barde
235,1178394,Hyderabad,2019-04-06,2019,19,Mumbai Indians,Sunrisers Hyderabad,Rajiv Gandhi International Stadium,Sunrisers Hyderabad,field,N,Mumbai Indians,Runs,40.0,NaN,AS Joseph,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['DA Warner', 'JM Bairstow', 'V Shankar', 'MK ...",AY Dandekar,Nitin Menon
236,1178393,Chennai,2019-04-06,2019,18,Chennai Super Kings,Kings XI Punjab,MA Chidambaram Stadium,Chennai Super Kings,bat,N,Chennai Super Kings,Runs,22.0,NaN,Harbhajan Singh,"['SR Watson', 'F du Plessis', 'SK Raina', 'MS ...","['KL Rahul', 'CH Gayle', 'MA Agarwal', 'SN Kha...",KN Ananthapadmanabhan,RJ Tucker
237,1175372,Bengaluru,2019-04-05,2019,17,Royal Challengers Bangalore,Kolkata Knight Riders,M.Chinnaswamy Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,5.0,NaN,AD Russell,"['PA Patel', 'V Kohli', 'AB de Villiers', 'MP ...","['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana...",AK Chaudhary,CB Gaffaney
238,1175371,Delhi,2019-04-04,2019,16,Delhi Capitals,Sunrisers Hyderabad,Arun Jaitley Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,5.0,NaN,JM Bairstow,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['DA Warner', 'JM Bairstow', 'V Shankar', 'MK ...",C Shamshuddin,KN Ananthapadmanabhan
239,1175370,Mumbai,2019-04-03,2019,15,Mumbai Indians,Chennai Super Kings,Wankhede Stadium,Chennai Super Kings,field,N,Mumbai Indians,Runs,37.0,NaN,HH Pandya,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'Yuvraj...","['SR Watson', 'AT Rayudu', 'SK Raina', 'KM Jad...",BNJ Oxenford,RJ Tucker
240,1175369,Jaipur,2019-04-02,2019,14,Royal Challengers Bangalore,Rajasthan Royals,Sawai Mansingh Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,S Gopal,"['V Kohli', 'PA Patel', 'AB de Villiers', 'SO ...","['AM Rahane', 'JC Buttler', 'SPD Smith', 'RA T...",AY Dandekar,M Erasmus
241,1175368,Chandigarh,2019-04-01,2019,13,Kings XI Punjab,Delhi Capitals,Punjab Cricket Association IS Bindra Stadium,Delhi Capitals,field,N,Kings XI Punjab,Runs,14.0,NaN,SM Curran,"['KL Rahul', 'SM Curran', 'MA Agarwal', 'SN Kh...","['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",AK Chaudhary,CB Gaffaney
242,1175366,Hyderabad,2019-03-31,2019,11,Sunrisers Hyderabad,Royal Challengers Bangalore,Rajiv Gandhi International Stadium,Royal Challengers Bangalore,field,N,Sunrisers Hyderabad,Runs,118.0,NaN,JM Bairstow,"['JM Bairstow', 'DA Warner', 'V Shankar', 'YK ...","['PA Patel', 'SO Hetmyer', 'V Kohli', 'AB de V...",KN Ananthapadmanabhan,S Ravi
243,1175367,Chennai,2019-03-31,2019,12,Chennai Super Kings,Rajasthan Royals,MA Chidambaram Stadium,Rajasthan Royals,field,N,Chennai Super Kings,Runs,8.0,NaN,MS Dhoni,"['AT Rayudu', 'SR Watson', 'SK Raina', 'KM Jad...","['AM Rahane', 'JC Buttler', 'SV Samson', 'RA T...",CK Nandan,YC Barde
244,1175365,Delhi,2019-03-30,2019,10,Kolkata Knight Riders,Delhi Capitals,Arun Jaitley Stadium,Delhi Capitals,field,Y,Delhi Capitals,SuperOver,NaN,NaN,PP Shaw,"['NS Naik', 'CA Lynn', 'RV Uthappa', 'N Rana',...","['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",AY Dandekar,Nitin Menon
245,1175364,Chandigarh,2019-03-30,2019,9,Mumbai Indians,Kings XI Punjab,Punjab Cricket Association IS Bindra Stadium,Kings XI Punjab,field,N,Kings XI Punjab,Wickets,8.0,NaN,MA Agarwal,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Yuvraj...","['KL Rahul', 'CH Gayle', 'MA Agarwal', 'DA Mil...",CB Gaffaney,VA Kulkarni
246,1175363,Hyderabad,2019-03-29,2019,8,Rajasthan Royals,Sunrisers Hyderabad,Rajiv Gandhi International Stadium,Rajasthan Royals,bat,N,Sunrisers Hyderabad,Wickets,5.0,NaN,Rashid Khan,"['AM Rahane', 'JC Buttler', 'SV Samson', 'BA S...","['DA Warner', 'JM Bairstow', 'KS Williamson', ...",BNJ Oxenford,C Shamshuddin
247,1175362,Bengaluru,2019-03-28,2019,7,Mumbai Indians,Royal Challengers Bangalore,M.Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Mumbai Indians,Runs,6.0,NaN,JJ Bumrah,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'Yuvraj...","['PA Patel', 'MM Ali', 'V Kohli', 'AB de Villi...",CK Nandan,S Ravi
248,1175361,Kolkata,2019-03-27,2019,6,Kolkata Knight Riders,Kings XI Punjab,Eden Gardens,Kings XI Punjab,field,N,Kolkata Knight Riders,Runs,28.0,NaN,AD Russell,"['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana...","['KL Rahul', 'CH Gayle', 'MA Agarwal', 'SN Kha...",AK Chaudhary,VA Kulkarni
249,1175360,Delhi,2019-03-26,2019,5,Delhi Capitals,Chennai Super Kings,Arun Jaitley Stadium,Delhi Capitals,bat,N,Chennai Super Kings,Wickets,6.0,NaN,SR Watson,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['SR Watson', 'AT Rayudu', 'SK Raina', 'KM Jad...",M Erasmus,Nitin Menon
250,1175359,Jaipur,2019-03-25,2019,4,Kings XI Punjab,Rajasthan Royals,Sawai Mansingh Stadium,Rajasthan Royals,field,N,Kings XI Punjab,Runs,14.0,NaN,CH Gayle,"['KL Rahul', 'CH Gayle', 'MA Agarwal', 'SN Kha...","['AM Rahane', 'JC Buttler', 'SV Samson', 'SPD ...",C Shamshuddin,KN Ananthapadmanabhan
251,1175358,Mumbai,2019-03-24,2019,3,Delhi Capitals,Mumbai Indians,Wankhede Stadium,Mumbai Indians,field,N,Delhi Capitals,Runs,37.0,NaN,RR Pant,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'CA Ingram'...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Yuvraj...",S Ravi,YC Barde
252,1175357,Kolkata,2019-03-24,2019,2,Sunrisers Hyderabad,Kolkata Knight Riders,Eden Gardens,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,6.0,NaN,AD Russell,"['DA Warner', 'JM Bairstow', 'V Shankar', 'YK ...","['CA Lynn', 'N Rana', 'RV Uthappa', 'KD Karthi...",AK Chaudhary,CB Gaffaney
253,1175356,Chennai,2019-03-23,2019,1,Royal Challengers Bangalore,Chennai Super Kings,MA Chidambaram Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,7.0,NaN,Harbhajan Singh,"['V Kohli', 'PA Patel', 'MM Ali', 'AB de Villi...","['SR Watson', 'AT Rayudu', 'SK Raina', 'KM Jad...",AY Dandekar,BNJ Oxenford

In [35]:
ipl_2015 = ipl.query("Season == '2015'")
ipl_2015

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
433,829823,Kolkata,2015-05-24,2015,Final,Mumbai Indians,Chennai Super Kings,Eden Gardens,Chennai Super Kings,field,N,Mumbai Indians,Runs,41.0,NaN,RG Sharma,"['LMP Simmons', 'PA Patel', 'RG Sharma', 'KA P...","['DR Smith', 'MEK Hussey', 'SK Raina', 'MS Dho...",HDPK Dharmasena,RK Illingworth
434,829821,Ranchi,2015-05-22,2015,Qualifier 2,Chennai Super Kings,Royal Challengers Bangalore,JSCA International Stadium Complex,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,3.0,NaN,A Nehra,"['DR Smith', 'MEK Hussey', 'F du Plessis', 'SK...","['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...",AK Chaudhary,CB Gaffaney
435,829819,Pune,2015-05-20,2015,Eliminator,Royal Challengers Bangalore,Rajasthan Royals,Maharashtra Cricket Association Stadium,Royal Challengers Bangalore,bat,N,Royal Challengers Bangalore,Runs,71.0,NaN,AB de Villiers,"['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...","['AM Rahane', 'SR Watson', 'SV Samson', 'SPD S...",AK Chaudhary,C Shamshuddin
436,829817,Mumbai,2015-05-19,2015,Qualifier 1,Chennai Super Kings,Mumbai Indians,Wankhede Stadium,Mumbai Indians,bat,N,Mumbai Indians,Runs,25.0,NaN,KA Pollard,"['DR Smith', 'MEK Hussey', 'F du Plessis', 'SK...","['LMP Simmons', 'PA Patel', 'RG Sharma', 'KA P...",HDPK Dharmasena,RK Illingworth
437,829813,Bangalore,2015-05-17,2015,55,Royal Challengers Bangalore,Delhi Daredevils,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,NaN,NaN,NoResults,NaN,NaN,NaN,"['V Kohli', 'CH Gayle', 'AB de Villiers', 'Man...","['Q de Kock', 'SS Iyer', 'JP Duminy', 'Yuvraj ...",HDPK Dharmasena,K Srinivasan
438,829815,Hyderabad,2015-05-17,2015,56,Sunrisers Hyderabad,Mumbai Indians,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,bat,N,Mumbai Indians,Wickets,9.0,NaN,MJ McClenaghan,"['DA Warner', 'S Dhawan', 'MC Henriques', 'EJG...","['LMP Simmons', 'PA Patel', 'RG Sharma', 'AT R...",CB Gaffaney,K Srinath
439,829811,Mumbai,2015-05-16,2015,54,Rajasthan Royals,Kolkata Knight Riders,Brabourne Stadium,Rajasthan Royals,bat,N,Rajasthan Royals,Runs,9.0,NaN,SR Watson,"['AM Rahane', 'SR Watson', 'SPD Smith', 'SV Sa...","['RV Uthappa', 'G Gambhir', 'MK Pandey', 'YK P...",RM Deshpande,RK Illingworth
440,829809,Chandigarh,2015-05-16,2015,53,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,bat,N,Chennai Super Kings,Wickets,7.0,NaN,P Negi,"['WP Saha', 'M Vohra', 'GJ Bailey', 'GJ Maxwel...","['MEK Hussey', 'BB McCullum', 'F du Plessis', ...",CK Nandan,C Shamshuddin
441,829807,Hyderabad,2015-05-15,2015,52,Sunrisers Hyderabad,Royal Challengers Bangalore,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,bat,N,Royal Challengers Bangalore,Wickets,6.0,D/L,V Kohli,"['DA Warner', 'S Dhawan', 'MC Henriques', 'EJG...","['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...",AK Chaudhary,HDPK Dharmasena
442,829805,Mumbai,2015-05-14,2015,51,Mumbai Indians,Kolkata Knight Riders,Wankhede Stadium,Kolkata Knight Riders,field,N,Mumbai Indians,Runs,5.0,NaN,HH Pandya,"['LMP Simmons', 'PA Patel', 'RG Sharma', 'AT R...","['RV Uthappa', 'G Gambhir', 'MK Pandey', 'YK P...",RK Illingworth,VA Kulkarni
443,829803,Chandigarh,2015-05-13,2015,50,Kings XI Punjab,Royal Challengers Bangalore,"Punjab Cricket Association Stadium, Mohali",Royal Challengers Bangalore,field,N,Kings XI Punjab,Runs,22.0,NaN,AR Patel,"['WP Saha', 'M Vohra', 'GJ Maxwell', 'DA Mille...","['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...",JD Cloete,C Shamshuddin
444,829801,Raipur,2015-05-12,2015,49,Delhi Daredevils,Chennai Super Kings,Shaheed Veer Narayan Singh International Stadium,Chennai Super Kings,bat,N,Delhi Daredevils,Wickets,6.0,NaN,Z Khan,"['Q de Kock', 'SS Iyer', 'JP Duminy', 'Yuvraj ...","['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...",RK Illingworth,VA Kulkarni
445,829799,Hyderabad,2015-05-11,2015,48,Sunrisers Hyderabad,Kings XI Punjab,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,bat,N,Sunrisers Hyderabad,Runs,5.0,NaN,DA Warner,"['DA Warner', 'S Dhawan', 'MC Henriques', 'EJG...","['M Vijay', 'M Vohra', 'WP Saha', 'GJ Maxwell'...",AK Chaudhary,HDPK Dharmasena
446,829797,Chennai,2015-05-10,2015,47,Chennai Super Kings,Rajasthan Royals,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,12.0,NaN,RA Jadeja,"['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...","['AM Rahane', 'SR Watson', 'SPD Smith', 'KK Na...",M Erasmus,CK Nandan
447,829795,Mumbai,2015-05-10,2015,46,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Royal Challengers Bangalore,bat,N,Royal Challengers Bangalore,Runs,39.0,NaN,AB de Villiers,"['PA Patel', 'LMP Simmons', 'RG Sharma', 'KA P...","['CH Gayle', 'V Kohli', 'AB de Villiers', 'KD ...",JD Cloete,C Shamshuddin
448,829793,Raipur,2015-05-09,2015,45,Delhi Daredevils,Sunrisers Hyderabad,Shaheed Veer Narayan Singh International Stadium,Sunrisers Hyderabad,bat,N,Sunrisers Hyderabad,Runs,6.0,NaN,MC Henriques,"['Q de Kock', 'SS Iyer', 'JP Duminy', 'Yuvraj ...","['S Dhawan', 'DA Warner', 'MC Henriques', 'EJG...",VA Kulkarni,S Ravi
449,829791,Kolkata,2015-05-09,2015,44,Kolkata Knight Riders,Kings XI Punjab,Eden Gardens,Kings XI Punjab,bat,N,Kolkata Knight Riders,Wickets,1.0,NaN,AD Russell,"['RV Uthappa', 'G Gambhir', 'MK Pandey', 'SA Y...","['M Vijay', 'M Vohra', 'WP Saha', 'GJ Maxwell'...",AK Chaudhary,HDPK Dharmasena
450,829789,Chennai,2015-05-08,2015,43,Chennai Super Kings,Mumbai Indians,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,bat,N,Mumbai Indians,Wickets,6.0,NaN,HH Pandya,"['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...","['LMP Simmons', 'PA Patel', 'RG Sharma', 'KA P...",CB Gaffaney,CK Nandan
451,829787,Mumbai,2015-05-07,2015,41,Rajasthan Royals,Sunrisers Hyderabad,Brabourne Stadium,Rajasthan Royals,field,N,Sunrisers Hyderabad,Runs,7.0,NaN,EJG Morgan,"['AM Rahane', 'SR Watson', 'SPD Smith', 'KK Na...","['S Dhawan', 'DA Warner', 'MC Henriques', 'EJG...",JD Cloete,C Shamshuddin
452,829761,Kolkata,2015-05-07,2015,42,Kolkata Knight Riders,Delhi Daredevils,Eden Gardens,Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,13.0,NaN,PP Chawla,"['RV Uthappa', 'G Gambhir', 'MK Pandey', 'PP C...","['MK Tiwary', 'SS Iyer', 'JP Duminy', 'KM Jadh...",AK Chaudhary,M Erasmus
453,829785,Bangalore,2015-05-06,2015,40,Royal Challengers Bangalore,Kings XI Punjab,M Chinnaswamy Stadium,Kings XI Punjab,field,N,Royal Challengers Bangalore,Runs,138.0,NaN,CH Gayle,"['CH Gayle', 'V Kohli', 'AB de Villiers', 'KD ...","['M Vijay', 'M Vohra', 'WP Saha', 'GJ Maxwell'...",RK Illingworth,VA Kulkarni
454,829783,Mumbai,2015-05-05,2015,39,Mumbai Indians,Delhi Daredevils,Wankhede Stadium,Delhi Daredevils,bat,N,Mumbai Indians,Wickets,5.0,NaN,Harbhajan Singh,"['LMP Simmons', 'PA Patel', 'HH Pandya', 'RG S...","['MA Agarwal', 'SS Iyer', 'JP Duminy', 'KM Jad...",HDPK Dharmasena,CB Gaffaney
455,829781,Kolkata,2015-05-04,2015,38,Kolkata Knight Riders,Sunrisers Hyderabad,Eden Gardens,Sunrisers Hyderabad,field,N,Kolkata Knight Riders,Runs,35.0,NaN,UT Yadav,"['RV Uthappa', 'G Gambhir', 'MK Pandey', 'AD R...","['DA Warner', 'S Dhawan', 'NV Ojha', 'MC Henri...",AK Chaudhary,M Erasmus
456,829779,Chennai,2015-05-04,2015,37,Chennai Super Kings,Royal Challengers Bangalore,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,24.0,NaN,SK Raina,"['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...","['NJ Maddinson', 'V Kohli', 'AB de Villiers', ...",C Shamshuddin,K Srinath
457,829775,Chandigarh,2015-05-03,2015,35,Kings XI Punjab,Mumbai Indians,"Punjab Cricket Association Stadium, Mohali",Mumbai Indians,bat,N,Mumbai Indians,Runs,23.0,NaN,LMP Simmons,"['M Vijay', 'V Sehwag', 'GJ Maxwell', 'DA Mill...","['LMP Simmons', 'PA Patel', 'RG Sharma', 'KA P...",RK Illingworth,VA Kulkarni
458,829777,Mumbai,2015-05-03,2015,36,Rajasthan Royals,Delhi Daredevils,Brabourne Stadium,Delhi Daredevils,field,N,Rajasthan Royals,Runs,14.0,NaN,AM Rahane,"['AM Rahane', 'SR Watson', 'KK Nair', 'JP Faul...","['MA Agarwal', 'SS Iyer', 'JP Duminy', 'Yuvraj...",HDPK Dharmasena,CB Gaffaney
459,829771,Bangalore,2015-05-02,2015,33,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,7.0,NaN,Mandeep Singh,"['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...","['RV Uthappa', 'G Gambhir', 'AD Russell', 'RN ...",JD Cloete,PG Pathak
460,829773,Hyderabad,2015-05-02,2015,34,Sunrisers Hyderabad,Chennai Super Kings,"Rajiv Gandhi International Stadium, Uppal",Chennai Super Kings,field,N,Sunrisers Hyderabad,Runs,22.0,NaN,DA Warner,"['DA Warner', 'S Dhawan', 'MC Henriques', 'EJG...","['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...",AK Chaudhary,K Srinivasan
461,829769,Mumbai,2015-05-01,2015,32,Mumbai Indians,Rajasthan Royals,Wankhede Stadium,Rajasthan Royals,field,N,Mumbai Indians,Runs,8.0,NaN,AT Rayudu,"['LMP Simmons', 'PA Patel', 'UBT Chand', 'RG S...","['AM Rahane', 'SR Watson', 'SV Samson', 'SPD S...",HDPK Dharmasena,CK Nandan
462,829767,Delhi,2015-05-01,2015,31,Delhi Daredevils,Kings XI Punjab,Feroz Shah Kotla,Delhi Daredevils,field,N,Delhi Daredevils,Wickets,9.0,NaN,NM Coulter-Nile,"['MA Agarwal', 'SS Iyer', 'SS Tiwary', 'JP Dum...","['V Sehwag', 'M Vohra', 'SE Marsh', 'WP Saha',...",RK Illingworth,S Ravi
463,829723,Kolkata,2015-04-30,2015,30,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,7.0,NaN,AD Russell,"['RV Uthappa', 'G Gambhir', 'MK Pandey', 'SA Y...","['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...",AK Chaudhary,M Erasmus
464,829763,Bangalore,2015-04-29,2015,29,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...","['AM Rahane', 'SR Watson', 'SPD Smith', 'KK Na...",JD Cloete,PG Pathak
465,829765,Chennai,2015-04-28,2015,28,Chennai Super Kings,Kolkata Knight Riders,"MA Chidambaram Stadium, Chepauk",Kolkata Knight Riders,field,N,Chennai Super Kings,Runs,2.0,NaN,DJ Bravo,"['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...","['RV Uthappa', 'G Gambhir', 'MK Pandey', 'SA Y...",RM Deshpande,VA Kulkarni
466,829759,Chandigarh,2015-04-27,2015,27,Kings XI Punjab,Sunrisers Hyderabad,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,field,N,Sunrisers Hyderabad,Runs,20.0,NaN,TA Boult,"['M Vijay', 'M Vohra', 'SE Marsh', 'GJ Bailey'...","['DA Warner', 'S Dhawan', 'GH Vihari', 'MC Hen...",HDPK Dharmasena,CB Gaffaney
467,829757,Delhi,2015-04-26,2015,26,Delhi Daredevils,Royal Challengers Bangalore,Feroz Shah Kotla,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,10.0,NaN,VR Aaron,"['MA Agarwal', 'SS Iyer', 'JP Duminy', 'Yuvraj...","['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...",M Erasmus,S Ravi
468,829753,Chennai,2015-04-25,2015,24,Chennai Super Kings,Kings XI Punjab,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,97.0,NaN,BB McCullum,"['DR Smith', 'BB McCullum', 'SK Raina', 'MS Dh...","['M Vijay', 'V Sehwag', 'SE Marsh', 'GJ Bailey...",JD Cloete,C Shamshuddin
469,829751,Mumbai,2015-04-25,2015,23,Mumbai Indians,Sunrisers Hyderabad,Wankhede Stadium,Mumbai Indians,bat,N,Mumbai Indians,Runs,20.0,NaN,SL Malinga,"['LMP Simmons', 'PA Patel', 'UBT Chand', 'RG S...","['S Dhawan', 'DA Warner', 'KL Rahul', 'NV Ojha...",HDPK Dharmasena,CB Gaffaney
470,829749,Ahmedabad,2015-04-24,2015,22,Rajasthan Royals,Royal Challengers Bangalore,"Sardar Patel Stadium, Motera",Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,9.0,NaN,MA Starc,"['AM Rahane', 'SR Watson', 'SPD Smith', 'KK Na...","['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...",M Erasmus,S Ravi
471,829747,Delhi,2015-04-23,2015,21,Delhi Daredevils,Mumbai Indians,Feroz Shah Kotla,Mumbai Indians,field,N,Delhi Daredevils,Runs,37.0,NaN,SS Iyer,"['MA Agarwal', 'SS Iyer', 'JP Duminy', 'AD Mat...","['LMP Simmons', 'PA Patel', 'UBT Chand', 'RG S...",SD Fry,CK Nandan
472,829743,Visakhapatnam,2015-04-22,2015,19,Sunrisers Hyderabad,Kolkata Knight Riders,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Kolkata Knight Riders,field,N,Sunrisers Hyderabad,Runs,16.0,D/L,DA Warner,"['S Dhawan', 'DA Warner', 'RS Bopara', 'NV Ojh...","['RV Uthappa', 'G Gambhir', 'MK Pandey', 'AD R...",RK Illingworth,VA Kulkarni
473,829745,Bangalore,2015-04-22,2015,20,Royal Challengers Bangalore,Chennai Super Kings,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Chennai Super Kings,Runs,27.0,NaN,SK Raina,"['MS Bisla', 'RR Rossouw', 'V Kohli', 'KD Kart...","['DR Smith', 'BB McCullum', 'SK Raina', 'MS Dh...",JD Cloete,C Shamshuddin
474,829741,Ahmedabad,2015-04-21,2015,18,Rajasthan Royals,Kings XI Punjab,"Sardar Patel Stadium, Motera",Kings XI Punjab,field,Y,Kings XI Punjab,SuperOver,NaN,NaN,SE Marsh,"['AM Rahane', 'SR Watson', 'DJ Hooda', 'SPD Sm...","['M Vijay', 'V Sehwag', 'SE Marsh', 'GJ Maxwel...",M Erasmus,S Ravi
475,829739,Delhi,2015-04-20,2015,17,Delhi Daredevils,Kolkata Knight Riders,Feroz Shah Kotla,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,6.0,NaN,UT Yadav,"['MA Agarwal', 'SS Iyer', 'JP Duminy', 'MK Tiw...","['RV Uthappa', 'G Gambhir', 'MK Pandey', 'SA Y...",SD Fry,CB Gaffaney
476,829735,Ahmedabad,2015-04-19,2015,15,Rajasthan Royals,Chennai Super Kings,"Sardar Patel Stadium, Motera",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,8.0,NaN,AM Rahane,"['AM Rahane', 'SR Watson', 'SPD Smith', 'KK Na...","['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...",AK Chaudhary,M Erasmus
477,829737,Bangalore,2015-04-19,2015,16,Royal Challengers Bangalore,Mumbai Indians,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Mumbai Indians,Runs,18.0,NaN,Harbhajan Singh,"['CH Gayle', 'MS Bisla', 'V Kohli', 'KD Karthi...","['LMP Simmons', 'PA Patel', 'UBT Chand', 'RG S...",RK Illingworth,VA Kulkarni
478,829731,Visakhapatnam,2015-04-18,2015,13,Sunrisers Hyderabad,Delhi Daredevils,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Delhi Daredevils,bat,N,Delhi Daredevils,Runs,4.0,NaN,JP Duminy,"['DA Warner', 'S Dhawan', 'RS Bopara', 'KL Rah...","['MA Agarwal', 'SS Iyer', 'JP Duminy', 'Yuvraj...",PG Pathak,S Ravi
479,829733,Pune,2015-04-18,2015,14,Kings XI Punjab,Kolkata Knight Riders,Maharashtra Cricket Association Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,4.0,NaN,AD Russell,"['M Vijay', 'V Sehwag', 'WP Saha', 'GJ Maxwell...","['RV Uthappa', 'G Gambhir', 'MK Pandey', 'SA Y...",SD Fry,CK Nandan
480,829729,Mumbai,2015-04-17,2015,12,Mumbai Indians,Chennai Super Kings,Wankhede Stadium,Mumbai Indians,bat,N,Chennai Super Kings,Wickets,6.0,NaN,A Nehra,"['LMP Simmons', 'PA Patel', 'CJ Anderson', 'RG...","['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...",AK Chaudhary,M Erasmus
481,829727,Visakhapatnam,2015-04-16,2015,11,Sunrisers Hyderabad,Rajasthan Royals,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,6.0,NaN,AM Rahane,"['DA Warner', 'S Dhawan', 'KL Rahul', 'NV Ojha...","['AM Rahane', 'SV Samson', 'SPD Smith', 'KK Na...",PG Pathak,S Ravi
482,829725,Pune,2015-04-15,2015,10,Kings XI Punjab,Delhi Daredevils,Maharashtra Cricket Association Stadium,Kings XI Punjab,bat,N,Delhi Daredevils,Wickets,5.0,NaN,MA Agarwal,"['M Vijay', 'V Sehwag', 'WP Saha', 'DA Miller'...","['MA Agarwal', 'SS Iyer', 'JP Duminy', 'Yuvraj...",CB Gaffaney,K Srinath
483,829721,Ahmedabad,2015-04-14,2015,9,Rajasthan Royals,Mumbai Indians,"Sardar Patel Stadium, Motera",Mumbai Indians,bat,N,Rajasthan Royals,Wickets,7.0,NaN,SPD Smith,"['AM Rahane', 'SV Samson', 'SPD Smith', 'DJ Ho...","['AJ Finch', 'PA Patel', 'UBT Chand', 'RG Shar...",AK Chaudhary,SD Fry
484,829719,Bangalore,2015-04-13,2015,8,Royal Challengers Bangalore,Sunrisers Hyderabad,M Chinnaswamy Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,8.0,NaN,DA Warner,"['CH Gayle', 'V Kohli', 'KD Karthik', 'AB de V...","['DA Warner', 'S Dhawan', 'KS Williamson', 'KL...",RM Deshpande,RK Illingworth
485,829717,Mumbai,2015-04-12,2015,7,Mumbai Indians,Kings XI Punjab,Wankhede Stadium,Mumbai Indians,field,N,Kings XI Punjab,Runs,18.0,NaN,GJ Bailey,"['RG Sharma', 'AJ Finch', 'AP Tare', 'AT Rayud...","['M Vijay', 'V Sehwag', 'GJ Maxwell', 'DA Mill...",AK Chaudhary,K Srinivasan
486,829715,Delhi,2015-04-12,2015,6,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,3.0,NaN,DJ Hooda,"['MA Agarwal', 'SS Iyer', 'JP Duminy', 'Yuvraj...","['AM Rahane', 'SV Samson', 'SPD Smith', 'KK Na...",SD Fry,CB Gaffaney
487,829713,Kolkata,2015-04-11,2015,5,Kolkata Knight Riders,Royal Challengers Bangalore,Eden Gardens,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,3.0,NaN,CH Gayle,"['RV Uthappa', 'G Gambhir', 'MK Pandey', 'SA Y...","['CH Gayle', 'V Kohli', 'KD Karthik', 'Mandeep...",S Ravi,C Shamshuddin
488,829711,Chennai,2015-04-11,2015,4,Chennai Super Kings,Sunrisers Hyderabad,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,45.0,NaN,BB McCullum,"['DR Smith', 'BB McCullum', 'SK Raina', 'MS Dh...","['DA Warner', 'S Dhawan', 'KL Rahul', 'NV Ojha...",RK Illingworth,VA Kulkarni
489,829709,Pune,2015-04-10,2015,3,Kings XI Punjab,Rajasthan Royals,Maharashtra Cricket Association Stadium,Kings XI Punjab,field,N,Rajasthan Royals,Runs,26.0,NaN,JP Faulkner,"['V Sehwag', 'M Vijay', 'WP Saha', 'GJ Maxwell...","['AM Rahane', 'SV Samson', 'SPD Smith', 'KK Na...",SD Fry,CB Gaffaney
490,829707,Chennai,2015-04-09,2015,2,Chennai Super Kings,Delhi Daredevils,"MA Chidambaram Stadium, Chepauk",Delhi Daredevils,field,N,Chennai Super Kings,Runs,1.0,NaN,A Nehra,"['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...","['MA Agarwal', 'CM Gautam', 'JA Morkel', 'SS I...",RK Illingworth,VA Kulkarni
491,829705,Kolkata,2015-04-08,2015,1,Kolkata Knight Riders,Mumbai Indians,Eden Gardens,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,7.0,NaN,M Morkel,"['RV Uthappa', 'G Gambhir', 'MK Pandey', 'SA Y...","['RG Sharma', 'AJ Finch', 'AP Tare', 'AT Rayud...",S Ravi,C Shamshuddin

In [41]:
mask = amzn['High'] > 0.088542
df = amzn[mask]
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000
1,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000
34,1997-07-03,0.079948,0.095833,0.079688,0.095573,0.095573,251544000
35,1997-07-07,0.091667,0.101042,0.091667,0.100000,0.100000,161064000
36,1997-07-08,0.102083,0.116667,0.102083,0.115104,0.115104,310344000
...,...,...,...,...,...,...,...
6511,2023-03-30,101.550003,103.040001,101.010002,102.000000,102.000000,53633400
6512,2023-03-31,102.160004,103.489998,101.949997,103.290001,103.290001,56704300
6513,2023-04-03,102.300003,103.290001,101.430000,102.410004,102.410004,41135700
6514,2023-04-04,102.750000,104.199997,102.110001,103.949997,103.949997,48662500
6515,2023-04-05,103.910004,103.910004,100.750000,101.099998,101.099998,45103000

In [45]:
# sorting
df['High'].sort_values()

34        0.095833
1         0.098958
35        0.101042
65        0.102604
69        0.106250
           ...
6077    187.399994
6078    187.864502
6076    187.999496
6171    188.107498
6079    188.654007
Name: High, Length: 6484, dtype: float64

In [50]:
# sorting
df['High'].sort_values(ascending=False)

6079    188.654007
6171    188.107498
6076    187.999496
6078    187.864502
6077    187.399994
           ...
69        0.106250
65        0.102604
35        0.101042
1         0.098958
34        0.095833
Name: High, Length: 6484, dtype: float64

In [51]:
# adding/deleting columns
amzn['Year'] = pd.to_datetime(amzn['Date']).dt.year

In [52]:
amzn

,Date,Open,High,Low,Close,Adj Close,Volume,Year
0,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000,1997
1,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000,1997
2,1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000,1997
3,1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000,1997
4,1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000,1997
...,...,...,...,...,...,...,...,...
6511,2023-03-30,101.550003,103.040001,101.010002,102.000000,102.000000,53633400,2023
6512,2023-03-31,102.160004,103.489998,101.949997,103.290001,103.290001,56704300,2023
6513,2023-04-03,102.300003,103.290001,101.430000,102.410004,102.410004,41135700,2023
6514,2023-04-04,102.750000,104.199997,102.110001,103.949997,103.949997,48662500,2023
6515,2023-04-05,103.910004,103.910004,100.750000,101.099998,101.099998,45103000,2023

In [55]:
# delete columns
amzn.drop('Year', axis=1)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000
1,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000
2,1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000
3,1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000
4,1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000
...,...,...,...,...,...,...,...
6511,2023-03-30,101.550003,103.040001,101.010002,102.000000,102.000000,53633400
6512,2023-03-31,102.160004,103.489998,101.949997,103.290001,103.290001,56704300
6513,2023-04-03,102.300003,103.290001,101.430000,102.410004,102.410004,41135700
6514,2023-04-04,102.750000,104.199997,102.110001,103.949997,103.949997,48662500
6515,2023-04-05,103.910004,103.910004,100.750000,101.099998,101.099998,45103000

In [56]:
# Handling missing data (fillna, dropna, etc.)

In [60]:
# dropna
ipl.dropna(how='all')

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [66]:
# fillna on the perticuler column
ipl['City'] = ipl['City'].fillna('unkwon')
ipl

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [71]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 22],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Score': [85, 62, 78, 90, 55]
}
df = pd.DataFrame(data)

In [73]:
# Replacing values (replace)
df.replace('Alice', 'Ankit')

      Name  Age         City  Score
0    Ankit   25     New York     85
1      Bob   30  Los Angeles     62
2  Charlie   35      Chicago     78
3    David   40      Houston     90
4      Eve   22      Phoenix     55

In [ ]:
# Data Transformation
# Applying functions (apply, applymap, map)
# Grouping and aggregation (groupby, agg, transform)

In [87]:
data = {
    'NumericalColumn': [1, 2, np.nan, 4],
    'CategoricalColumn': ['A', 'B', np.nan, 'A'],
    'BooleanColumn': [True, np.nan, False, True],
    'StringColumn': ['foo', 'bar', np.nan, 'baz']
}
df = pd.DataFrame(data)

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NumericalColumn    3 non-null      float64
 1   CategoricalColumn  3 non-null      object
 2   BooleanColumn      3 non-null      object
 3   StringColumn       3 non-null      object
dtypes: float64(1), object(3)
memory usage: 256.0+ bytes

In [89]:
# apply
def fill_na(col):
    if col.dtype == 'object':
        return col.fillna('unknow')
    elif col.dtype == 'int64':
        return col.fillna(0)
    else:
        return col.fillna(0.0)

df = df.apply(fill_na)

In [90]:
df

   NumericalColumn CategoricalColumn BooleanColumn StringColumn
0              1.0                 A          True          foo
1              2.0                 B        unknow          bar
2              0.0            unknow         False       unknow
3              4.0                 A          True          baz

In [116]:
# applymap
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

def squre(x):
    return x ** 2

df.applymap(squre)

   A   B
0  1  16
1  4  25
2  9  36

In [122]:
# map
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

def square_column(x):
    return x ** 2

df['Square of A'] = df['A'].map(square_column)
df

# skip

   A  B  Square of A
0  1  4            1
1  2  5            4
2  3  6            9

In [81]:
# Grouping
ipl.groupby('WinningTeam').size()

WinningTeam
Chennai Super Kings            121
Deccan Chargers                 29
Delhi Capitals                  36
Delhi Daredevils                67
Gujarat Lions                   13
Gujarat Titans                  12
Kings XI Punjab                 88
Kochi Tuskers Kerala             6
Kolkata Knight Riders          114
Lucknow Super Giants             9
Mumbai Indians                 131
Pune Warriors                   12
Punjab Kings                    13
Rajasthan Royals                96
Rising Pune Supergiant          10
Rising Pune Supergiants          5
Royal Challengers Bangalore    109
Sunrisers Hyderabad             75
dtype: int64

In [94]:
# extract new column in amzn dataset from the date column
amzn['Year'] = pd.to_datetime(amzn['Date']).dt.year

In [99]:
amzn.groupby('Year').size()

Year
1997    160
1998    252
1999    252
2000    252
2001    248
2002    252
2003    252
2004    252
2005    252
2006    251
2007    251
2008    253
2009    252
2010    252
2011    252
2012    250
2013    252
2014    252
2015    252
2016    252
2017    251
2018    251
2019    252
2020    253
2021    252
2022    251
2023     65
dtype: int64

In [100]:
# agg function with groupby
amzn.groupby('Year')['High'].agg('max')

Year
1997      0.275000
1998      3.015625
1999      5.650000
2000      4.575000
2001      1.118750
2002      1.250000
2003      3.057500
2004      2.891000
2005      2.500000
2006      2.429000
2007      5.054500
2008      4.871500
2009      7.295500
2010      9.282500
2011     12.335500
2012     13.205500
2013     20.281500
2014     20.403000
2015     34.821999
2016     42.360500
2017     60.670502
2018    102.525002
2019    101.790001
2020    177.612503
2021    188.654007
2022    171.399994
2023    114.000000
Name: High, dtype: float64

In [110]:
# multiple agg function with groupby
amzn.groupby('Year')['High'].agg(['max', 'mean'])

             max        mean
Year
1997    0.275000    0.161497
1998    3.015625    0.811660
1999    5.650000    3.601638
2000    4.575000    2.426299
2001    1.118750    0.637426
2002    1.250000    0.845905
2003    3.057500    1.915065
2004    2.891000    2.216688
2005    2.500000    2.019069
2006    2.429000    1.820769
2007    5.054500    3.407827
2008    4.871500    3.588350
2009    7.295500    4.428938
2010    9.282500    7.045464
2011   12.335500    9.973744
2012   13.205500   11.133972
2013   20.281500   15.046300
2014   20.403000   16.815877
2015   34.821999   24.159812
2016   42.360500   35.290248
2017   60.670502   48.725938
2018  102.525002   83.141992
2019  101.790001   90.129504
2020  177.612503  135.847069
2021  188.654007  168.943683
2022  171.399994  128.419815
2023  114.000000   98.182307

In [114]:
# agg function with groupby in multiple columns
amzn.groupby('Year')[['High', 'Volume']].mean()

            High        Volume
Year
1997    0.161497  8.798130e+07
1998    0.811660  4.147603e+08
1999    3.601638  3.395648e+08
2000    2.426299  1.751593e+08
2001    0.637426  1.701268e+08
2002    0.845905  1.675722e+08
2003    1.915065  1.807822e+08
2004    2.216688  1.701771e+08
2005    2.019069  1.432925e+08
2006    1.820769  1.427173e+08
2007    3.407827  1.950394e+08
2008    3.588350  1.991469e+08
2009    4.428938  1.703051e+08
2010    7.045464  1.457926e+08
2011    9.973744  1.158713e+08
2012   11.133972  8.399233e+07
2013   15.046300  5.935760e+07
2014   16.815877  8.167196e+07
2015   24.159812  7.596048e+07
2016   35.290248  8.244098e+07
2017   48.725938  7.033509e+07
2018   83.141992  1.129799e+08
2019   90.129504  7.735318e+07
2020  135.847069  9.861982e+07
2021  168.943683  6.776334e+07
2022  128.419815  7.608070e+07
2023   98.182307  6.725730e+07

In [126]:
# transform
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [10, 20, 30, 40]
})

def square(x):
    return x ** 2

df.transform(square)

    A     B
0   1   100
1   4   400
2   9   900
3  16  1600

In [127]:
# Applying a Transformation to Each Group

df = pd.DataFrame({
    'Team': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Points': [10, 20, 15, 25, 10, 30]
})
def square(x):
    return x ** 2

df.groupby('Team')['Points'].sum().transform(square)

Team
A     900
B    1600
C    1600
Name: Points, dtype: int64

In [128]:
# Combining and Merging Data:

# Concatenation (concat)
# Merging and joining (merge, join)

In [133]:
# Concatenation
df1 = pd.DataFrame({
    'A': [1, 2],
    'B': [3, 4]
})

df2 = pd.DataFrame({
    'A': [5, 6],
    'B': [7, 8]
})
result = pd.concat([df1, df2], axis=0)
result

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [138]:
# merge
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C'],
    'value1': [1, 2, 3]
})

df2 = pd.DataFrame({
    'key': ['B', 'C', 'D'],
    'value2': [4, 5, 6]
})
result = pd.merge(df1 ,df2, how='inner', on='key')
result

  key  value1  value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0

In [ ]:
# join



# skip