In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px

In [2]:
# read csv
play = pd.read_csv('/home/developer/Downloads/playstore.csv')

In [3]:
play.head(5)

,app_id,title,reviews,ratings,min_installs,score,offers_iap,ad_supported,released,ratings_per_day,genre,genre_id,price,rating_one_star,rating_two_star,rating_three_star,rating_four_star,rating_five_star
0,com.prettyteengames.royal.princess.wedding.mak...,Royal Princess Wedding Makeover and Dress Up,375.0,1023.0,100000,4.179863,True,True,2017-12-20,3,Casual,GAME_CASUAL,0.0,115,31,98,90,689
1,com.MayGreenStudio.dressup,Momo's Dressup,13492.0,25974.0,1000000,4.711096,False,True,2017-03-07,42,Casual,GAME_CASUAL,0.0,673,213,806,2561,21721
2,air.theflash.f2game.PrettyGirl23,Princess Pretty Girl,1974.0,4610.0,500000,4.295445,False,True,2015-01-18,3,Casual,GAME_CASUAL,0.0,382,206,287,528,3207
3,air.com.dressupone.animeschooluniforms,Anime School Uniforms,2586.0,6081.0,500000,4.209505,False,True,2013-08-20,3,Casual,GAME_CASUAL,0.0,628,193,524,668,4068
4,air.theflash.f2game.PrettyGirl7,Wedding Pretty girl,1409.0,3728.0,500000,4.195011,False,True,2014-09-01,2,Casual,GAME_CASUAL,0.0,358,185,300,414,2471

In [5]:
# get rows and columns
play.shape

(62694, 18)

In [6]:
# check null values
play.isnull().sum()

app_id                 0
title                  0
reviews               11
ratings               11
min_installs           0
score                 11
offers_iap             0
ad_supported           0
released             846
ratings_per_day        0
genre                  1
genre_id               1
price                  0
rating_one_star        0
rating_two_star        0
rating_three_star      0
rating_four_star       0
rating_five_star       0
dtype: int64

In [7]:
# get info
play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62694 entries, 0 to 62693
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   app_id             62694 non-null  object
 1   title              62694 non-null  object
 2   reviews            62683 non-null  float64
 3   ratings            62683 non-null  float64
 4   min_installs       62694 non-null  int64
 5   score              62683 non-null  float64
 6   offers_iap         62694 non-null  bool
 7   ad_supported       62694 non-null  bool
 8   released           61848 non-null  object
 9   ratings_per_day    62694 non-null  int64
 10  genre              62693 non-null  object
 11  genre_id           62693 non-null  object
 12  price              62694 non-null  float64
 13  rating_one_star    62694 non-null  int64
 14  rating_two_star    62694 non-null  int64
 15  rating_three_star  62694 non-null  int64
 16  rating_four_star   62694 non-null  int64
 17  rating_five_star   62694 non-null  int64
dtypes: bool(2), float64(4), int64(7), object(5)
memory usage: 7.8+ MB

In [8]:
# drop null values
play = play.dropna(how='any')

In [9]:
play.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61847 entries, 0 to 62693
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   app_id             61847 non-null  object
 1   title              61847 non-null  object
 2   reviews            61847 non-null  float64
 3   ratings            61847 non-null  float64
 4   min_installs       61847 non-null  int64
 5   score              61847 non-null  float64
 6   offers_iap         61847 non-null  bool
 7   ad_supported       61847 non-null  bool
 8   released           61847 non-null  object
 9   ratings_per_day    61847 non-null  int64
 10  genre              61847 non-null  object
 11  genre_id           61847 non-null  object
 12  price              61847 non-null  float64
 13  rating_one_star    61847 non-null  int64
 14  rating_two_star    61847 non-null  int64
 15  rating_three_star  61847 non-null  int64
 16  rating_four_star   61847 non-null  int64
 17  rating_five_star   61847 non-null  int64
dtypes: bool(2), float64(4), int64(7), object(5)
memory usage: 8.1+ MB

In [10]:
play.isnull().sum()

app_id               0
title                0
reviews              0
ratings              0
min_installs         0
score                0
offers_iap           0
ad_supported         0
released             0
ratings_per_day      0
genre                0
genre_id             0
price                0
rating_one_star      0
rating_two_star      0
rating_three_star    0
rating_four_star     0
rating_five_star     0
dtype: int64