In [1]:
# Import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px

In [84]:
# Load the data
games = pd.read_csv('/home/developer/Desktop/games.csv')
teams = pd.read_csv('/home/developer/Desktop/teams.csv')

In [85]:
# Look at the first 5 rows of the DataFrame
teams.head(5)

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [86]:
games.head(5)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0

In [87]:
# Look at the columns of the DataFrame
games.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

In [88]:
teams.columns

Index(['LEAGUE_ID', 'TEAM_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

In [89]:
# Reassign games as its subset of the columns 'GAME_DATE', 'GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away', 
# 'POINTS_home', 'POINTS_away', 'HOME_TEAM_WINS'
games[['GAME_DATE_EST', 'GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away', 'PTS_home', 'PTS_away', 'HOME_TEAM_WINS']]

,GAME_DATE_EST,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,PTS_home,PTS_away,HOME_TEAM_WINS
0,2022-12-22,Final,1610612740,1610612759,126.0,117.0,1
1,2022-12-22,Final,1610612762,1610612764,120.0,112.0,1
2,2022-12-21,Final,1610612739,1610612749,114.0,106.0,1
3,2022-12-21,Final,1610612755,1610612765,113.0,93.0,1
4,2022-12-21,Final,1610612737,1610612741,108.0,110.0,0
...,...,...,...,...,...,...,...
26646,2014-10-06,Final,1610612737,1610612740,93.0,87.0,1
26647,2014-10-06,Final,1610612741,1610612764,81.0,85.0,0
26648,2014-10-06,Final,1610612747,1610612743,98.0,95.0,1
26649,2014-10-05,Final,1610612761,1610612758,99.0,94.0,1
26650,2014-10-04,Final,1610612748,1610612740,86.0,98.0,0

In [90]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26651 entries, 0 to 26650
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     26651 non-null  object
 1   GAME_ID           26651 non-null  int64
 2   GAME_STATUS_TEXT  26651 non-null  object
 3   HOME_TEAM_ID      26651 non-null  int64
 4   VISITOR_TEAM_ID   26651 non-null  int64
 5   SEASON            26651 non-null  int64
 6   TEAM_ID_home      26651 non-null  int64
 7   PTS_home          26552 non-null  float64
 8   FG_PCT_home       26552 non-null  float64
 9   FT_PCT_home       26552 non-null  float64
 10  FG3_PCT_home      26552 non-null  float64
 11  AST_home          26552 non-null  float64
 12  REB_home          26552 non-null  float64
 13  TEAM_ID_away      26651 non-null  int64
 14  PTS_away          26552 non-null  float64
 15  FG_PCT_away       26552 non-null  float64
 16  FT_PCT_away       26552 non-null  float64
 17  FG3_PCT_away      26552 non-null  float64
 18  AST_away          26552 non-null  float64
 19  REB_away          26552 non-null  float64
 20  HOME_TEAM_WINS    26651 non-null  int64
dtypes: float64(12), int64(7), object(2)
memory usage: 4.3+ MB

In [91]:
# Look at the new games DataFrame's first 5 rows, and info summary
games.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0

In [92]:
 # Convert GAME_DATE to a datetime dtype
games['GAME_DATE_EST'] = pd.to_datetime(games['GAME_DATE_EST'])

In [93]:
# Convert GAME_STATUS_TEXT to a string dtype
games['GAME_STATUS_TEXT']=games['GAME_STATUS_TEXT'].astype('string')

In [94]:
# Look at the info summary of the DataFrame to verify the changes
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26651 entries, 0 to 26650
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     26651 non-null  datetime64[ns]
 1   GAME_ID           26651 non-null  int64
 2   GAME_STATUS_TEXT  26651 non-null  string
 3   HOME_TEAM_ID      26651 non-null  int64
 4   VISITOR_TEAM_ID   26651 non-null  int64
 5   SEASON            26651 non-null  int64
 6   TEAM_ID_home      26651 non-null  int64
 7   PTS_home          26552 non-null  float64
 8   FG_PCT_home       26552 non-null  float64
 9   FT_PCT_home       26552 non-null  float64
 10  FG3_PCT_home      26552 non-null  float64
 11  AST_home          26552 non-null  float64
 12  REB_home          26552 non-null  float64
 13  TEAM_ID_away      26651 non-null  int64
 14  PTS_away          26552 non-null  float64
 15  FG_PCT_away       26552 non-null  float64
 16  FT_PCT_away       26552 non-null  float64
 17  FG3_PCT_away      26552 non-null  float64
 18  AST_away          26552 non-null  float64
 19  REB_away          26552 non-null  float64
 20  HOME_TEAM_WINS    26651 non-null  int64
dtypes: datetime64[ns](1), float64(12), int64(7), string(1)
memory usage: 4.3 MB

In [95]:
# Load the data in teams.csv as a DataFrame called teams, and look at its first 5 rows, and its columns
teams.head(5)

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [96]:
# Reassign teams as a subset of its columns 'TEAM_ID', 'CITY', 'NICKNAME', and look at its first 5 rows and info summary
teams[['TEAM_ID', 'CITY', 'NICKNAME']].head(5)

      TEAM_ID         CITY   NICKNAME
0  1610612737      Atlanta      Hawks
1  1610612738       Boston    Celtics
2  1610612740  New Orleans   Pelicans
3  1610612741      Chicago      Bulls
4  1610612742       Dallas  Mavericks

In [97]:
# Convert both columns CITY and NICKNAME to a string dtype
teams[['CITY', 'NICKNAME']]=teams[['CITY', 'NICKNAME']].astype('string')

In [98]:
# Verify the changes with the dtypes attribute
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     string
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     string
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(6), string(2)
memory usage: 3.4+ KB

In [99]:
# Print out the first two rows of games and teams, how can we combine them?     
games.merge(teams, left_on='TEAM_ID_home', right_on='TEAM_ID').head(2)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
1,2022-12-19,22200457,Final,1610612740,1610612749,2022,1610612740,119.0,0.424,0.708,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate

In [100]:
# Merge (inner) games and teams based on 'TEAM_ID_home' and 'TEAM_ID', call the merged DataFrame games_with_home_team
merged_home_inner = games.merge(teams, left_on='TEAM_ID_home', right_on='TEAM_ID' ,how='inner')
merged_home_inner.head(2)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
1,2022-12-19,22200457,Final,1610612740,1610612749,2022,1610612740,119.0,0.424,0.708,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate

In [101]:
 # Print out the first 5 rows of the new DataFrame
teams.head(5)

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [102]:
# Rename the column CITY as 'city_home', NICKNAME as 'nickname_home'
teams.rename(columns = {'CITY' : 'city_home', 'NICKNAME' : 'nickname_home'}).head(2)

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,nickname_home,YEARFOUNDED,city_home,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws

In [103]:
# Merge (inner) games_with_home_team and teams based on 'TEAM_ID_away' and 'TEAM_ID', call the merged DataFrame games_with_both_teams
games_with_both_teams = pd.merge(games, teams, left_on='TEAM_ID_home', right_on ='TEAM_ID')
games_with_both_teams

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
1,2022-12-19,22200457,Final,1610612740,1610612749,2022,1610612740,119.0,0.424,0.708,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
2,2022-12-11,22200395,Final,1610612740,1610612756,2022,1610612740,129.0,0.581,0.750,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,2022-12-09,22200384,Final,1610612740,1610612756,2022,1610612740,128.0,0.511,0.800,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
4,2022-12-07,22200371,Final,1610612740,1610612765,2022,1610612740,104.0,0.459,0.783,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-11-05,21400068,Final,1610612744,1610612746,2014,1610612744,121.0,0.581,1.000,...,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors
26647,2014-11-01,21400038,Final,1610612744,1610612747,2014,1610612744,127.0,0.554,0.857,...,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors
26648,2014-10-24,11400117,Final,1610612744,1610612743,2014,1610612744,119.0,0.512,0.655,...,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors
26649,2014-10-21,11400096,Final,1610612744,1610612746,2014,1610612744,125.0,0.590,0.800,...,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors
26650,2014-10-16,11400063,Final,1610612744,1610612743,2014,1610612744,104.0,0.494,0.667,...,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [104]:
# 19. Print out the first two rows of the new DataFrame
games_with_both_teams.head(2)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
1,2022-12-19,22200457,Final,1610612740,1610612749,2022,1610612740,119.0,0.424,0.708,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate

In [105]:
# Rename the column CITY as 'city_away', NICKNAME as 'nickname_away'
games_with_both_teams=games_with_both_teams.rename(columns = {'CITY' : 'city_away', 'NICKNAME' : 'nickname_away'})

In [106]:
# Print out the first 5 rows of the new DataFrame
games_with_both_teams.head(5)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,ABBREVIATION,nickname_away,YEARFOUNDED,city_away,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
1,2022-12-19,22200457,Final,1610612740,1610612749,2022,1610612740,119.0,0.424,0.708,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
2,2022-12-11,22200395,Final,1610612740,1610612756,2022,1610612740,129.0,0.581,0.750,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,2022-12-09,22200384,Final,1610612740,1610612756,2022,1610612740,128.0,0.511,0.800,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
4,2022-12-07,22200371,Final,1610612740,1610612765,2022,1610612740,104.0,0.459,0.783,...,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate

In [107]:
# The team ID columns are not needed after the merge of the DataFrames.
# The below code is provided to drop the columns 'TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y' from games_with_both_teams
games_with_both_teams.drop(['TEAM_ID_home', 'TEAM_ID_away'], axis=1, inplace=True)

In [108]:
games.head(2)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1

In [109]:
# 22. Make a copy of games_with_both_teams and assign it as games
games = games_with_both_teams.copy()

In [110]:
# 23.Change the column names in games to all lowercase
games.columns=games.columns.str.lower()

In [111]:
# 24. Print out the columns of games to verify the changes
games.columns

Index(['game_date_est', 'game_id', 'game_status_text', 'home_team_id',
       'visitor_team_id', 'season', 'pts_home', 'fg_pct_home', 'ft_pct_home',
       'fg3_pct_home', 'ast_home', 'reb_home', 'pts_away', 'fg_pct_away',
       'ft_pct_away', 'fg3_pct_away', 'ast_away', 'reb_away', 'home_team_wins',
       'league_id', 'team_id', 'min_year', 'max_year', 'abbreviation',
       'nickname_away', 'yearfounded', 'city_away', 'arena', 'arenacapacity',
       'owner', 'generalmanager', 'headcoach', 'dleagueaffiliation'],
      dtype='object')

In [112]:
# 25. Print out the columns of games_with_both_teams to verify that the original DataFrame wasn't impacted by the copy

In [113]:
games_with_both_teams.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'PTS_home', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'AST_home', 'REB_home', 'PTS_away', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS',
       'LEAGUE_ID', 'TEAM_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'nickname_away', 'YEARFOUNDED', 'city_away', 'ARENA', 'ARENACAPACITY',
       'OWNER', 'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

In [114]:
# 26. Check the dimensionality of games
games.shape

(26651, 33)

In [116]:
# 27. Export games as a csv file called 'games_transformed.csv', and open the csv file to look at it
games.to_csv('games_transformed.csv', index=False)

In [123]:
# 28. Select all the columns of 'number' dtypes from games
games.select_dtypes(include='number')

,game_id,home_team_id,visitor_team_id,season,pts_home,fg_pct_home,ft_pct_home,fg3_pct_home,ast_home,reb_home,...,fg3_pct_away,ast_away,reb_away,home_team_wins,league_id,team_id,min_year,max_year,yearfounded,arenacapacity
0,22200477,1610612740,1610612759,2022,126.0,0.484,0.926,0.382,25.0,46.0,...,0.321,23.0,44.0,1,0,1610612740,2002,2019,2002,NaN
1,22200457,1610612740,1610612749,2022,119.0,0.424,0.708,0.400,30.0,44.0,...,0.325,26.0,44.0,0,0,1610612740,2002,2019,2002,NaN
2,22200395,1610612740,1610612756,2022,129.0,0.581,0.750,0.320,31.0,43.0,...,0.342,34.0,42.0,1,0,1610612740,2002,2019,2002,NaN
3,22200384,1610612740,1610612756,2022,128.0,0.511,0.800,0.296,27.0,44.0,...,0.500,30.0,37.0,1,0,1610612740,2002,2019,2002,NaN
4,22200371,1610612740,1610612765,2022,104.0,0.459,0.783,0.296,21.0,50.0,...,0.357,17.0,42.0,1,0,1610612740,2002,2019,2002,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,21400068,1610612744,1610612746,2014,121.0,0.581,1.000,0.600,29.0,39.0,...,0.368,26.0,30.0,1,0,1610612744,1946,2019,1946,19596.0
26647,21400038,1610612744,1610612747,2014,127.0,0.554,0.857,0.478,30.0,43.0,...,0.286,21.0,37.0,1,0,1610612744,1946,2019,1946,19596.0
26648,11400117,1610612744,1610612743,2014,119.0,0.512,0.655,0.429,35.0,37.0,...,0.313,21.0,46.0,1,0,1610612744,1946,2019,1946,19596.0
26649,11400096,1610612744,1610612746,2014,125.0,0.590,0.800,0.591,28.0,46.0,...,0.357,26.0,31.0,1,0,1610612744,1946,2019,1946,19596.0
26650,11400063,1610612744,1610612743,2014,104.0,0.494,0.667,0.400,24.0,40.0,...,0.389,18.0,50.0,1,0,1610612744,1946,2019,1946,19596.0

In [127]:
# 29 Select all the columns NOT of 'number' dtypes from games
games.select_dtypes(exclude = 'number')

,game_date_est,game_status_text,abbreviation,nickname_away,city_away,arena,owner,generalmanager,headcoach,dleagueaffiliation
0,2022-12-22,Final,NOP,Pelicans,New Orleans,Smoothie King Center,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
1,2022-12-19,Final,NOP,Pelicans,New Orleans,Smoothie King Center,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
2,2022-12-11,Final,NOP,Pelicans,New Orleans,Smoothie King Center,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,2022-12-09,Final,NOP,Pelicans,New Orleans,Smoothie King Center,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
4,2022-12-07,Final,NOP,Pelicans,New Orleans,Smoothie King Center,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
...,...,...,...,...,...,...,...,...,...,...
26646,2014-11-05,Final,GSW,Warriors,Golden State,Chase Center,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors
26647,2014-11-01,Final,GSW,Warriors,Golden State,Chase Center,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors
26648,2014-10-24,Final,GSW,Warriors,Golden State,Chase Center,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors
26649,2014-10-21,Final,GSW,Warriors,Golden State,Chase Center,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors
26650,2014-10-16,Final,GSW,Warriors,Golden State,Chase Center,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [ ]:
# 30. Print out the first 5 rows of games as a reference